body {
  margin: 0;
  height: 100vh;
}
#root{
  height: 100vh;
}
.App{
  height: 100vh;
}
.homeimage{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.stand{
  height: 330px;
  width: 250px;
  background-image: url(/Users/morteanualexandru/Desktop/infochim/frontend/public/Stand.png);
  background-size: contain;
}
.erlen{
  height: 100px;
  width: 67px;
  background-image: url(/Users/morteanualexandru/Desktop/infochim/frontend/public/Erlenmeyer.png);
  background-size: contain;
  z-index: 2;
}
.buret{
  height: 300px;
  width: 160px;
  background-image: url(/Users/morteanualexandru/Desktop/infochim/frontend/public/Burette.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (min-width: 500px) {
  .homeimage{
    right: auto;
  }
  #container-top{
    left: auto;
  }
}