body {
  margin: 0;
  height: 100vh;
}
#root{
  height: 100vh;
}
.App{
  height: 100vh;
}

.homeimage{
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}
.stand{
  height: 330px;
  width: 250px;
  background-image: url(/Users/morteanualexandru/Desktop/infochim/frontend/public/Stand.png);
  background-size: contain;
}
.erlen{
  height: 100px;
  width: 67px;
  background-image: url(/Users/morteanualexandru/Desktop/infochim/frontend/public/Erlenmeyer.png);
  background-size: contain;
  z-index: 2;
}
.buret{
  height: 300px;
  width: 160px;
  background-image: url(/Users/morteanualexandru/Desktop/infochim/frontend/public/Burette.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.nav-item{
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}
.nav-item:hover{
  opacity: 1;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 18px;
  max-width: 700px;
  margin-left: 0.5em;
}
h3 {
  position: relative;
  font-size: 40px;
  z-index: 2;
}
h2 {
  text-align: center;
}
@media (min-width: 500px) {
  #container-top{
    left: auto;
  }
}